 <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="./public/assets/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">Rajeev Prasad</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://x.com/testrajeev71473" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/rajeev.prasad.965" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/rajiv42k/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/rajeev-prasad-b0726920/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      {{> Navbar}}
    </div>
  </header>